@font-face {
  font-family: 'Merriweather', serif;
  src: url('https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap');
}

* {
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
}

h1 {
  background: #173647;
}

h1,
button {
  color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
  display: block;
  border: none;
  border-radius: 5px;
  background: #dddddd;
}

/* layout containers */

.layout-center {
  margin: 2px auto;
  width: 93%;
}

.bottom-border {
  border-bottom: solid 4px #173647;
}

.top-border {
  border-top: solid 2px #173647;
}

/* media queries */